@using Júpiter_Store.Extensions
@using Júpiter_Store.Extensions.PagSeguro
@model Júpiter_Store.ViewModels.PurchaseHistoryViewModel

@{
    ViewBag.Title = "Detalhes da Compra";
}

<h2 class="mb-3">
    @ViewBag.Title - @Model.Cart.Id
    <small style="display: block;">@Model.Cart.PurchaseDate.Value.ToString("g")</small>
</h2>

<div id="purchase-details" class="row">
    <div class="col-12">
        <ul id="product-list" class="list-group list-group-flush">
            @{
                foreach (var product in Model.Cart.Products)
                {
                    <li class="purchased-item list-group-item d-flex justify-content-between align-items-center">
                        <span class="product-image"><img src="@Url.Content(product.ImagePath)"/></span>
                        <span class="product-name">@product.Name</span>
                        <span class="product-price">@product.GetPrice()</span>
                        <span class="product-quantity">@product.Quantity</span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-12 my-3 text-right">
        Total: @Model.Cart.GetFinalPrice()
    </div>
</div>

<hr />

<div id="transaction-details" class="row my-4">
    @if (Model.Transaction != null)
    {
        <div class="col-12">
            <p>
                Código PagSeguro: @Model.Transaction.Code
            </p>
            <p>
                Status: @Model.Transaction.GetTransactionStatusText()
            </p>
            <p class="mb-0">
                @{ var address = @Model.Transaction.Shipping.Address; }
                Endereço de Envio: @address.Country @address.City, @(address.City). @address.Street, @address.Number @address.Complement
                <br/>
                Frete: @Model.Transaction.Shipping.Cost
                <br/>
                Tipo de Envio: @Model.Transaction.Shipping.GetShippingTypeName()
            </p>
        </div>
    }
    else
    {
        <a href="@Model.Cart.CheckoutUrl"><small>Reenviar pedido.</small></a>
    }
</div>