@model List<Júpiter_Store.ViewModels.CartViewModel>

@{
    ViewBag.Title = "Histórico de Compras";
}

<h2>@ViewBag.Title</h2>

@{
    var purchasesLength = Model.Count();
}

@if (purchasesLength != 0)
{
    <div id="purchases" class="row">
        <div class="col-12">
            <ul id="purchase-list" class="list-group list-group-flush">
                @{
                    for (var i = 0; i < purchasesLength; i++)
                    {
                        var cart = Model[purchasesLength - i - 1];
                        <li id="@cart.Id" class="purchase-item list-group-item d-flex justify-content-between align-items-center">
                            <span class="purchase-number">Número: @cart.Id</span>
                            <span class="purchase-date">Data: @cart.PurchaseDate.Value.ToString("g")</span>
                            <span class="purchase-price">@cart.GetFinalPrice()</span>
                            <span class="purchase-details">
                                <button class="purchase-details-button btn btn-primary" type="button">Ver Mais</button>
                            </span>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}
else
{
    <div>
        Nenhuma comprar registrada.
    </div>
}

@section scripts
{
    <script>
        $(".purchase-details-button").on("click", function () {
            var purchaseId = $(this).parents(".purchase-item").attr("id");

            window.location.href = "/purchasehistory/details/" + purchaseId;
        });
    </script>
}
