@using Júpiter_Store.Models
@model List<Júpiter_Store.Models.Product>

@{
    ViewBag.Title = "Produtos";
}

<h2>
    @ViewBag.Title
    @if (User.IsInRole(RoleName.Manager))
    {
        <a href="/products/new" class="btn btn-second ml-2">Novo</a>
    }
</h2>

@if (Model.Any())
{
    <div id="products" class="row">
        @foreach (var product in Model)
         {
             <div class="product col-12 col-md-4 my-2" data-product-id="@product.Id" >
                 <div class="card">
                     <img class="card-img-top" src="@Url.Content(product.ImagePath)" alt="@product.Name">
                     <div class="card-body">
                         <h5 class="card-title">@product.Name</h5>
                         <p class="card-text">@product.Description</p>
                         <p class="card-text">@product.GetPrice()</p>
                         @if (User.Identity.IsAuthenticated)
                         {
                            <button class="buy-product btn btn-first">Comprar</button>
                         }
                         else
                         {
                             <a href="/account/login" class="btn btn-first">Comprar</a>
                         }
                         @if (User.IsInRole(RoleName.Manager))
                         {
                             <a href="/products/edit/@product.Id" class="btn btn-second">Editar</a>
                         }
                     </div>
                 </div>
             </div>
        }
    </div>
}
else
{
    <div>
        Nenhum produto cadastrado.
    </div>
}

@section scripts
{
    <script>
        $("#products").on("click", ".buy-product", function () {
            var $product = $(this).parents(".product");

            $.ajax({
                url: "/api/cart/" + $product.attr("data-product-id"),
                method: "POST",
                success: function() {
                    toastr.success("Produto adicionado");
                },
                error: function() {
                    toastr.error("Erro ao adicionar ao carrinho");
                }
            });
        });
    </script>
}
