@model Júpiter_Store.Models.Product

@{
    ViewBag.Title = "Novo Produto";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Ajustes os erros seguintes.")

    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Description)
        @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.ImagePath)
        @Html.TextBoxFor(p => p.ImagePath, new { @class = "form-control", disabled = "true" })
        <input type="file" name="imageFile" id="imageFile"> 
        @Html.ValidationMessageFor(p => p.ImagePath)
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.NumberInStock)
        @Html.TextBoxFor(p => p.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.NumberInStock)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(p => p.Price)
        @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Price)
    </div>

    @Html.HiddenFor(p => p.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-first">Salvar</button>
}