@model Júpiter_Store.ViewModels.CartViewModel

@{
    ViewBag.Title = "Carrinho";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Products.Any())
{
    <div id="cart-container" class="row">
        <form id="cart-form" class="col-12" onsubmit="return false;">
            <ul class="cart-products list-group list-group-flush">
                @foreach (var product in Model.Products)
                {
                    <li id="@product.Id" class="cart-product list-group-item d-flex justify-content-between align-items-center">
                        <span class="product-image"><img src="@Url.Content(product.ImagePath)"/></span>
                        <span class="product-name">@product.Name</span>
                        <span class="product-price">@product.GetPrice()</span>
                        <span class="product-quantity d-flex align-items-center">
                            <span class="quantity-value pr-2">@product.Quantity</span>
                            <span class="quantity-arrows d-flex flex-column">
                                <button type="button" class="quantity-arrow-up btn btn-flat"><svg height="10" width="10" class="up"><polygon points="0,10 5,0 10,10" style="fill: rgb(0, 0, 0);"></polygon></svg></button>
                                <button type="button" class="quantity-arrow-down btn btn-flat"><svg height="10" width="10" class="down"><polygon points="0,0 10,0 5,10" style="fill: rgb(0, 0, 0);"></polygon></svg></button>
                            </span>
                        </span>
                    </li>
                }
            </ul>
            <div id="total-price" class="text-right py-2">
                Total: R$ <span id="total-price-value">@Model.FinalPrice</span>
            </div>
            <div class="float-right">
                <button type="submit" id="submit-order" class="btn btn-primary mt-2">Finalizar</button>
            </div>
        </form>
    </div>
}
else
{
    <div>
        Nenhum produto no carrinho.
    </div>
}

@section scripts
{
    <script>
        $(".quantity-arrow-up").on("click", function () {
            var $product = $(this).parents(".cart-product");

            $.ajax({
                url: "/api/cart/" + $product.attr("id"),
                method: "POST",
                success: function (data) {
                    updateProductChange($product, data);
                },
                error: function () {
                    toastr.error("Erro ao alterar número de produtos");
                }
            });
        });

        $(".quantity-arrow-down").on("click", function () {
            var $product = $(this).parents(".cart-product");

            $.ajax({
                url: "/api/cart/" + $product.attr("id"),
                method: "DELETE",
                success: function (data) {
                    updateProductChange($product, data);
                },
                error: function () {
                    toastr.error("Erro ao alterar número de produtos");
                }
            });
        });

        function updateProductChange($product, data) {
            var $qnt = $product.find(".quantity-value");

            $qnt.html(data.productQuantity);

            $("#total-price-value").html(data.cartFinalPrice);
        }



        $("#cart-form").on("submit", function () {
            $.ajax({
                url: "/api/cart/order",
                method: "POST",
                success: function () {
                    window.location.reload(true);
                },
                error: function () {
                    toastr.error("Erro ao enviar o pedido");
                }
            });
        });
    </script>
}
